@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">*@
@{ 
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
    Response.Cache.SetNoStore();
}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sona Hotel</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/css/elegant-icons.css")
    @Styles.Render("~/Content/css/flaticon.css")
    @Styles.Render("~/Content/css/owl.carousel.min.css")
    @Styles.Render("~/Content/css/nice-select.css")
    @Styles.Render("~/Content/css/jquery-ui.min.css")
    @Styles.Render("~/Content/css/magnific-popup.css")
    @Styles.Render("~/Content/css/slicknav.min.css")
    @Styles.Render("~/Content/css/style.css")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        <div class="search-icon  search-switch">
            <i class="icon_search"></i>
        </div>
        <div class="header-configure-area">
            <div class="language-option">
                <img src="~/Content/img/flag.jpg" alt="">
                <span>EN <i class="fa fa-angle-down"></i></span>
                <div class="flag-dropdown">
                    <ul>
                        <li><a href="#">Zi</a></li>
                        <li><a href="#">Fr</a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="bk-btn">Booking Now</a>
        </div>
        <nav class="mainmenu mobile-menu">
            <ul>
                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Rooms", "Rooms", "Home")</li>
                <li>@Html.ActionLink("About Us", "About", "Home")</li>
                <li>@Html.ActionLink("About Us", "Contact", "Home")</li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="top-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-tripadvisor"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <ul class="top-widget">
            <li><i class="fa fa-phone"></i> (12) 345 67890</li>
            <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
        </ul>
    </div>
    <!-- Offcanvas Menu Section End -->
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i> (12) 345 67890</li>
                            <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <div class="top-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            @*<a href="#" class="bk-btn">Book Now</a>*@
                            @if (Session["id"] != null)
                            {
                                @Html.ActionLink("My Bookings", "Bookings", "Home", null, new { style = "display: inline-block;font-size: 13px;font-weight: 700;padding: 16px 28px 15px;background: #dfa974;color: #ffffff;text-transform: uppercase;letter-spacing: 2px;" })
                                @*<div class="language-option">
                                    <img src="~/Content/img/flag.jpg" alt="">
                                    <span>EN <i class="fa fa-angle-down"></i></span>
                                    <div class="flag-dropdown">
                                        <ul>
                                            <li><a href="#">Zi</a></li>
                                            <li><a href="#">Fr</a></li>
                                        </ul>
                                    </div>
                                </div>*@

                                <div class="language-option">
                                    <img src="https://api.dicebear.com/6.x/initials/svg?seed=@Session["N"]" alt="">
                                    <span>@Session["N"]<i class="fa fa-angle-down"></i></span>
                                    <div class="flag-dropdown">
                                        <ul>
                                            @if (Convert.ToInt32(Session["R"]) != 0)
                                            {
                                                <li>@Html.ActionLink("Dashboard", "Index", "Admins")</li>
                                            }
                                            <li>@Html.ActionLink("Logout", "Logout", "Users")</li>
                                            @*<li>@Html.ActionLink("Edit", "Edit", "Users", new { id = Session["id"] }, null)</li>*@
                                        </ul>
                                    </div>
                                </div>
                            }
                            @if (Session["id"] == null)
                            {
                                @Html.ActionLink("Login", "Login", "Users", null, new { style = "display: inline-block;font-size: 13px;font-weight: 700;padding: 16px 28px 15px;background: #dfa974;color: #ffffff;text-transform: uppercase;letter-spacing: 2px;" })
                                @*<div class="language-option">
                <span style="color:black;">@Html.ActionLink("Login", "Login", "Users", null, new { style = "color: black;" })</span>
            </div>*@
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="~/Content/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Rooms", "Room", "Home")
                                        <ul class="dropdown">
                                            <li>
                                                @Html.ActionLink("Single", "Room", "Home", new { rm = "Single" },null)
                                            </li>
                                            <li>
                                                @Html.ActionLink("Double", "Room", "Home", new { rm = "Double" }, null)
                                            </li>
                                            <li>
                                                @Html.ActionLink("Suite", "Room", "Home", new { rm = "Suite" }, null)
                                            </li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                                    <li>@Html.ActionLink("Contact", "Create", "Contacts")</li>
                                    @*@if (Session["id"] != null)
                                    {
                                        <li>@Html.ActionLink("My Bookings", "Bookings", "Home")</li>
                                    }*@
                                </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    @RenderBody()

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="~/Content/img/footer-logo.png" alt="">
                                </a>
                            </div>
                            <p>We inspire and reach millions of travelers<br /> across 90 local websites</p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Contact Us</h6>
                            <ul>
                                <li>(12) 345 67890</li>
                                <li>info.colorlib@gmail.com</li>
                                <li>856 Cordia Extension Apt. 356, Lake, United State</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>New latest</h6>
                            <p>Get the latest updates and offers.</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Environmental Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="co-text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Js Plugins -->
    @Scripts.Render("~/Content/js/jquery-3.3.1.min.js")
    @Scripts.Render("~/Content/js/bootstrap.min.js")
    @Scripts.Render("~/Content/js/jquery.magnific-popup.min.js")
    @Scripts.Render("~/Content/js/jquery.nice-select.min.js")
    @Scripts.Render("~/Content/js/jquery-ui.min.js")
    @Scripts.Render("~/Content/js/jquery.slicknav.js")
    @Scripts.Render("~/Content/js/owl.carousel.min.js")
    @Scripts.Render("~/Content/js/main.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("https://code.jquery.com/jquery-3.6.0.min.js")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            // Bind change event to the input boxes
            $('#input2').on('change', function () {
                // Get the values of the input boxes
                var value1 = parseFloat($('#input1').val());
                var value2 = parseFloat($('#input2').val());

                // Calculate the multiplication result
                var result = value1 * value2;

                // Display the result
                $('#input3').val(result);
                //console.log(result);
            });

            $('#startDate').on('change', function () {
                var value2 = parseFloat($('#input2').val());
                var startDate = new Date($('#startDate').val());
                var endDate = new Date(startDate);
                endDate.setDate(startDate.getDate() + value2);

                var endDateString = endDate.toISOString().split('T')[0];
                $('#endDate').val(endDateString);
            });
        });


    </script>

</body>

</html>

@*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @RenderSection("scripts", required: false)
    </body>
    </html>*@
