@model IEnumerable<HManagement.Models.Booking>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_admin.cshtml";
}




<div class="am-mainpanel">

    <div class="am-pagetitle">
        <h5 class="am-title">Dashboard</h5>
    </div><!-- am-pagetitle -->
    <div class="am-pagebody">
        <div class="row row-sm">
            <div class="col-lg-4">
                <div class="card">
                    <div id="rs1" class="wd-100p ht-200"></div>
                    <div class="overlay-body pd-x-20 pd-t-20">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-5">All Bookings</h6>
                                <p class="tx-12">@DateTime.Today.ToString("dd-MM-yyyy")</p>
                            </div>
                            <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more tx-16 lh-0"></i></a>
                        </div><!-- d-flex -->
                        <h2 class="mg-b-5 tx-inverse tx-lato">@ViewBag.count</h2>
                        <p class="tx-12 mg-b-0">Total Reservations.</p>
                    </div>
                </div><!-- card -->
            </div><!-- col-4 -->
            <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
                <div class="card">
                    <div id="rs2" class="wd-100p ht-200"></div>
                    <div class="overlay-body pd-x-20 pd-t-20">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-5">Today's Reservations</h6>
                                <p class="tx-12">@DateTime.Today.ToString("dd-MM-yyyy")</p>
                            </div>
                            <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more tx-16 lh-0"></i></a>
                        </div><!-- d-flex -->
                        <h2 class="mg-b-5 tx-inverse tx-lato">
                            @ViewBag.day
                        </h2>
                        <p class="tx-12 mg-b-0">Today's Reservations.</p>
                    </div>
                </div><!-- card -->
            </div><!-- col-4 -->
            <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
                <div class="card">
                    <div id="rs3" class="wd-100p ht-200"></div>
                    <div class="overlay-body pd-x-20 pd-t-20">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-5">Current Month's Reservations</h6>
                                <p class="tx-12">
                                    @ViewBag.SD.ToString("dd-MM-yyyy")  to  @ViewBag.ED.ToString("dd-MM-yyyy")
                                </p>
                            </div>
                            <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more tx-16 lh-0"></i></a>
                        </div><!-- d-flex -->
                        <h2 class="mg-b-5 tx-inverse tx-lato">@ViewBag.month</h2>
                        <p class="tx-12 mg-b-0">Current Month's Reservations.</p>
                    </div>
                </div><!-- card -->
            </div><!-- col-4 -->
        </div><!-- row -->

        <div class="row row-sm mg-t-15 mg-sm-t-20">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header bg-transparent pd-20">
                        <h6 class="card-title tx-uppercase tx-12 mg-b-0">Hotel's Booking History</h6>
                    </div><!-- card-header -->
                    <div class="table-responsive">
                        <table class="table table-white mg-b-0 tx-12">
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="pd-l-20 tx-center">
                                            @*<img src="~/Content/Admin/img/img1.jpg" class="wd-36 rounded-circle" alt="Image">*@
                                            <img src="@Url.Content(item.Image)" class="rounded-circle" height="45px" width="45px" alt="Image">
                                        </td>
                                        <td>
                                            <a href="" class="tx-inverse tx-14 tx-medium d-block">@item.RoomType @item.RoomNo</a>
                                            <span class="tx-11 d-block">For @item.Nights Nights.</span>
                                        </td>
                                        <td class="tx-12">
                                            @if (item.Confirm != "Confirmed")
                                            {
                                            <p>
                                                <span class="square-8 bg-warning mg-r-5 rounded-circle"></span>
                                                Pending
                                            </p>
                                            }
                                            else
                                            {
                                                <span class="square-8 bg-success mg-r-5 rounded-circle"></span>
                                                @item.Confirm
                                            }
                                        </td>
                                        <td>@item.CheckIn.ToString("dd-MM-yyyy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                    <div class="card-footer tx-12 pd-y-15 bg-transparent bd-t bd-gray-200">
                        <a href="/Bookings/Index/"><i class="fa fa-angle-down mg-r-5"></i>View All Bookings</a>
                    </div><!-- card-footer -->
                </div><!-- card -->
            </div><!-- col-8 -->
            <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">

                <div class="card pd-20">
                <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
                </div><!-- card -->
                <div style="background-color:white;margin-top:13px;height:300px;">
                    <canvas id="myChart" style="width:260px;max-width:600px;"></canvas>
                </div>
            </div><!-- col-4 -->
        </div><!-- row -->
    </div><!-- am-pagebody -->

    @section Scripts {
        <script>
        var xValues = ["Total", "Month", "Today's"];
        var yValues = [@ViewBag.count, @ViewBag.month, @ViewBag.day];
        var barColors = [
            "#fb9337d6",
            "#9FE2BF",
            "#87CEEB"
        ];

        new Chart("myChart", {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Over all Reservations"
                }
            }
        });





            var xValues = ["Single", "Double", "Suite"];
            var yValues = [@ViewBag.single, @ViewBag.Double, @ViewBag.suite];
            var barColors = ["#fb9337d6", "#87CEEB", "#9FE2BF"];

            new Chart("myChart2", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Bookings By Room Types"
                    }
                }
            });
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    }
