@model IEnumerable<HManagement.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_admin.cshtml";
}
<div class="am-pagetitle">
    <h5 class="am-title">Messages</h5>
</div><!-- am-pagetitle -->
<div class="am-mainpanel">
    <div class="am-pagebody">

        <div class="card pd-20 pd-sm-40">
            <h3 class="card-body-title">Messages</h3>

            <div class="table-wrapper">
                <table id="example" class="display nowrap" style="width:100%">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Message)
                        </th>
                        <th>Image</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Message)
                            </td>
                            <td>
                                <img src="https://api.dicebear.com/6.x/pixel-art/svg?seed=@item.UName" class="rounded-circle" height="40" width="40">
                            </td>
                            <td>
                                @*  @Html.ActionLink("Edit", "Edit", new { id = item.RoomId }) |*@
                                @*<a style="margin-right:5px;color:#2d3a50;" href="@Url.Action("Edits", new { id = item.ContactId })"><i class="fa-solid fa-pen-to-square">  </i>  </a>*@    
                                @*@Html.ActionLink("Details", "Details", new { id = item.RoomId }) |*@
                                @*<a style="margin-left:5px;margin-right:5px;color:#2d3a50;" href="@Url.Action("Details", new { id = item.ContactId})"><i class="fa-solid fa-circle-info">  </i>  </a>*@    
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.RoomId })*@
                                <a style="margin-left:5px;margin-right:5px;color:#2d3a50;" href="@Url.Action("Delete", new { id = item.ContactId })"><i class="fa-solid fa-trash">  </i></a>
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div><!-- table-wrapper -->
        </div><!-- card -->


    </div><!-- am-pagebody -->
    @section Scripts {

        <script>
            $(document).ready(function () {
                $('#example').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
            });
        </script>
    }
