@model HManagement.Models.Room

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<div class="am-pagetitle">
    <h5 class="am-title">Room's Detail</h5>
    <form id="searchBar" class="search-bar" action="index.html">
        <div class="form-control-wrapper">
            <input type="search" class="form-control bd-0" placeholder="Search...">
        </div><!-- form-control-wrapper -->
        <button id="searchBtn" class="btn btn-orange"><i class="fa fa-search"></i></button>
    </form><!-- search-bar -->
</div><!-- am-pagetitle -->
<div class="am-mainpanel">
    <div class="am-pagebody">

        <div>
            <h4>Room</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RoomNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RoomNo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RoomType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RoomType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Capacity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Capacity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Availability)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Availability)
                </dd>
                
                <dt>
                    Room's Image
                </dt>

                <dd>
                    <img src="@Url.Content(Model.image_path)" width="150" height="140">
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.RoomId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        </div>